configuration {
    font: "Source Code Pro 12";
    line-margin: 10;

    display-ssh:    "";
    display-run:    "";
    display-drun:   "";
    display-window: "";
    display-combi:  "";
    show-icons:     true;
}

listview {
	lines: 6;
	columns: 2;
}

window {
	width: 30%;
}
//@theme "/usr/share/rofi/themes/Monokai.rasi"
@theme "/usr/share/rofi/themes/fancy.rasi"
